article{
    margin-bottom: map-get($theme-sizes, 'general-vertical-space');
    
    h1.article-title{
        font-size: 28px;
        font-weight: 500;
        margin-bottom: map-get($theme-sizes, 'general-vertical-space') / 2;
    }
    h2.article-title{
        font-size: 24px;
        font-weight: 500;
        margin-bottom: map-get($theme-sizes, 'general-vertical-space') / 2;
    }
    
    div.featured-image-wrapper{
        border-radius: 8px;
        margin-bottom: 25px;

        a.featured-image,   // Use a in lists
        div.featured-image{ // Use div in single
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.15);
            background-color: map-get($theme-colors, 'primary');
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            
            img{
              width: 100%;
              height: 100%;
            }
        }
        
        a.featured-image-badge{
            position: absolute;
            top: 15px;
            left: 15px;
            z-index: 1;
            border-radius: 12px;
            font-size: 10px;
            font-weight: 500;
            line-height: 2.2;
            letter-spacing: 0.2px;
            text-transform: uppercase;
            padding: 1px 13px 0 13px;
            transition: all .2s;
            
            @include category-badge-colorizer( #08c096, #d6fff6 );
            
            $i: 0;
            
            @while $i < 50 {
                
                $a: $i;
                $b: $i + 1;
                $c: $i + 2;
                $d: $i + 3;
                $e: $i + 4;
                
                &.colorize-position-#{$a}{
                     @include category-badge-colorizer( #08c096, #d6fff6 );
                }
                &.colorize-position-#{$b}{
                    @include category-badge-colorizer( #e58f00, #ffe9c5 );
                }
                &.colorize-position-#{$c}{
                    @include category-badge-colorizer( #4a90e2, #cae2ff );
                }
                &.colorize-position-#{$d}{
                    @include category-badge-colorizer( #68cf00, #e3ffc8 );
                }
                &.colorize-position-#{$e}{
                    @include category-badge-colorizer( #bd10e0, #fae3ff );
                }
                
                $i: $i + 5;
            }

            
            &:hover{
                box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
                text-decoration: none;
            }
            
            &:hover:active{
                box-shadow: none;
                transform: translateY(3px);
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
            }
        }
    }

    ul.context{
        margin-bottom: map-get($theme-sizes, 'general-vertical-space') / 2;
        
        img{
            width: 16px;
            height: 16px;
            vertical-align: -15%;
            margin-right: .2rem;
        }
        
        font-size: 12px;
        line-height: 1.83;
        letter-spacing: 0.2px;
    }
    
    p{
        font-size: 15px;
        font-weight: 300;
        line-height: 1.57;
        letter-spacing: 0.3px;
    }

    main{
        overflow: auto;
        
        h2{
            font-size: 24px;
            margin-bottom: 1.4rem;
        }
        
        h3{
            font-size: 20px;
            margin-bottom: 1.1rem;
        }
        
        h4{
            font-size: 18px;
        }
        
        img{
            @extend .img-fluid;
            @extend .rounded;
        }

        a{
          text-decoration: underline;

          &:hover{
            color: map-get($theme-colors, 'primary');
          }
        }
        
        pre{
            border-radius: 8px;
            background-color: #f3f3f3;
            padding: 20px 20px 20px 50px;
            font-size: 14px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.57;
            letter-spacing: 0.3px;
            color: $body-color;
            margin: 30px 0;
            position: relative;

            @media (prefers-color-scheme: dark) {
              background-color: #000;
              color: #15dfb1;
            }
            
            &:before{
              $content: '';
              @for $i from 1 through 99 {
                  $content: $content + $i + '\A ';
              }

              content: $content;
              position: absolute;
              overflow: hidden;
              top: 0px;
              left: 0px;
              bottom: 0;
              margin: 21px;
              color: transparentize(#4a4a4a, .8);
            }
        }
        
        blockquote{
            border-radius: 8px;
            background-color: #f3f3f3;
            padding: 20px;

            @media (prefers-color-scheme: dark) {
              background-color: #000;
              color: #bdbdbd;
            }

            cite{
                text-align: right;
                display: block;
            }
        }
        
        strong, b{
            font-weight: 500;
        }
        
        ul, ol{
            font-weight: 300;

            @media (prefers-color-scheme: dark) {
              color: #bdbdbd;
            }
        }
        
        input[type=text],
        input[type=number]
        input[type=email]
        input[type=url],
        input[type=phone],
        input[type=password],
        textarea{
            @extend .form-control;
        }
        input[type=submit],
        input[type=button],
        button{
            @extend .btn;
            @extend .btn-primary;
        }
        
        .post-password-form{
            background-color: #f3f3f3;
            padding: 25px;
            border-radius: 5px;
            
            p:last-child{
                margin-bottom: 0;
            }
            
            input[type=password]{
                @extend .form-control-sm;
            }
            input[type=submit]{
                @extend .btn-sm;
                @extend .btn-dark;
            }
        }
    }

    .share-links{
        margin-top: map-get($theme-sizes, 'general-vertical-space');
        margin-bottom: map-get($theme-sizes, 'general-vertical-space');
        font-size: 12px;
        line-height: 1.83;
        letter-spacing: 0.2px;
        
        span{
            margin-top: 3px;
            margin-right: 10px;
        }
        
        a{
            margin-right: 10px;
        }
        
        a, img{
            display: inline-block;
        }
    }
    
    .next-and-prev-links{
        margin-top: map-get($theme-sizes, 'general-vertical-space');
        margin-bottom: map-get($theme-sizes, 'general-vertical-space');
        font-size: 18px;
        font-weight: 500;
        align-items: center;
    }

}

article.featured,
article.vertical{
    
    div.featured-image-wrapper{
        box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.15);
        transition: all .3s;
        
        &:hover{
            transform: translateY(-.5rem);
            box-shadow: 0 1rem 1.5rem 0 rgba(0, 0, 0, 0.1);
        }
    }
    
    h2 a{
        @include ellipsis(3.5rem, 2);
    }
    
    p{
        @include ellipsis(4.5rem, 3);
    }
    
    a.read-more{
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.3px;
        color: map-get($theme-colors, 'primary');
        text-transform: uppercase;
        
        img{
            vertical-align: -5%;
            margin-left: .4rem;
            transition: all .2s;
        }
        
        &:hover{
            text-decoration: none;
            img{
                margin-left: .7rem;
            }
        }
    }
    
}
