div#comments{
    
    > h2{
        position: relative;
        font-size: 24px;
        font-weight: 500;
        color: map-get($theme-colors, 'primary');
        text-transform: uppercase;
        margin-bottom: map-get($theme-sizes, 'comments-vertical-space');
        
        &:after{
            position: absolute;
            content: "";
            width: map-get($theme-sizes, 'comments-vertical-space');
            height: 5px;
            border-radius: 1px;
            background-color: map-get($theme-colors, 'primary');
            bottom: -10px;
            left: 0;
        }
    }
    
    .pingback{
        margin: map-get($theme-sizes, 'comments-vertical-space') 0;
        border: 1px solid transparentize(map-get($theme-colors, 'primary'), 0.8);
        background: transparentize(map-get($theme-colors, 'primary'), 0.9);
        padding: 15px;
        border-radius: 3px;

        .reply a{
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.3px;
            text-transform: uppercase;
            color: map-get($theme-colors, 'primary');
            
            img{
                vertical-align: -5%;
                margin-left: .4rem;
                transition: all .2s;
            }
            
            &:hover img{
                margin-left: .7rem;
            }
        }
    }

    .comment{
        margin: map-get($theme-sizes, 'comments-vertical-space') 0;
        
        .comment{
            padding-left: map-get($theme-sizes, 'comments-avatar') + 20;
        }
        
        .comment-meta{

            img.avatar{
                float: left;
                border-radius: 999px;
                margin-right: 20px;
                width: map-get($theme-sizes, 'comments-avatar');
                height: map-get($theme-sizes, 'comments-avatar');
            }


            .comment-author{
                font-size: 18px;
                font-weight: 500;
                margin-bottom: .5rem;
            }


            span.says{
                display: none;
            }


            div.comment-metadata{
                font-size: 12px;
                line-height: 1.83;
                letter-spacing: 0.2px;
                margin-bottom: 1rem;
                padding-left: map-get($theme-sizes, 'comments-avatar') + 20;
            }
        }
        
        .comment-content{
            padding-left: map-get($theme-sizes, 'comments-avatar') + 20;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.57;
            letter-spacing: 0.3px;
            
            h1{
                font-size: 20px;
            }
            
            h2{
                font-size: 17px;
            }
            
            h3{
                font-size: 16px;
            }

            h4{
                font-size: 15px;
            }

            h5{
                font-size: 14px;
            }

            h6{
                font-size: 13px;
            }

            pre{
                border-radius: 8px;
                background-color: #f3f3f3;
                padding: 20px;
                font-size: 12px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.57;
                letter-spacing: 0.3px;
                margin: 30px 0;
            }
            
            blockquote{
                border-radius: 8px;
                background-color: #f3f3f3;
                padding: 20px;
                
                p:last-child{
                    margin-bottom: 0;
                }
                    
            }
        }
        
        .reply a{
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.3px;
            text-transform: uppercase;
            margin-left: map-get($theme-sizes, 'comments-avatar') + 20;
            color: map-get($theme-colors, 'primary');

            img{
                vertical-align: -5%;
                margin-left: .4rem;
                transition: all .2s;
            }
            
            &:hover img{
                margin-left: .7rem;
            }
        }

    }

    .comment-respond{
        padding: 30px;
        background: #f3f3f3;
        border-radius: 4px;
        margin: 45px 0;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.57;
        letter-spacing: 0.3px;

        h3{
            font-size: 18px;
            font-weight: 500;
        }
        
        input[type=text],
        textarea{
            @extend .form-control;
        }
        
        input[type=submit]{
            @extend .btn;
            @extend .btn-primary;
            background-color: #50e3c2;
            color: white;
        }
        
        p.form-submit{
            text-align: right;
            margin-bottom: 0;
        }
    }
    
}
