aside#above_footer-sidebar{
    margin-bottom: map-get($theme-sizes, 'general-vertical-space');
    
    h2{
        position: relative;
        font-size: 20px;
        font-weight: 500;
        color: map-get($theme-colors, 'primary');
        text-transform: uppercase;
        margin-bottom: map-get($theme-sizes, 'comments-vertical-space') / 2;
        
        &:after{
            position: absolute;
            content: "";
            width: map-get($theme-sizes, 'comments-vertical-space');
            height: 5px;
            border-radius: 1px;
            background-color: map-get($theme-colors, 'primary');
            bottom: -10px;
            left: 0;
        }
    }

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 1.4;
        
        li{
            transition: all .3s;
            margin-bottom: .4rem;
        }
    }
    
    input, select, textarea{
        @extend .form-control;
    }
}

body > footer{
    padding: map-get($theme-sizes, 'general-vertical-space') 0;
    background-color: #f3f3f3;

    @media (prefers-color-scheme: dark) {
      background-color: #000;
    }

    
    a.footer-brand{
        font-weight: bold;
        font-size: 30px;
        color: #c1bfbf;
    }
    
    #menu-footer ul{
        list-style: none;
        font-size: 0;
        color: #a2a2a2;
        
        li{
            display: inline;
            
            &:not(:last-child):after{
                content: "|";
                margin: 0 .5rem;
                font-size: 16px;
            }
            
            a{
                font-size: 16px;
            }
        }
    }
}
