@mixin ellipsis ($max-height, $lines: 2) {
    // https://codepen.io/joe-watkins/pen/GJvfj
    
    // Fallback for non-webkit browsers.
    // Fallback does not render ellipsis.
    overflow: hidden;
    max-height: $max-height;

    // Webkit solution for multiline ellipsis
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;  

    // Solution for Opera
    text-overflow: -o-ellipsis-lastline;
}

@mixin placeholder-color($color) {
  &::-webkit-input-placeholder { /* WebKit browsers */
      color: $color;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $color;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $color;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: $color;
  }
}

@mixin category-badge-colorizer( $text, $background ) {
    color: $text;
    background-color: $background;
    
    &:hover{
        color: $background;
        background-color: $text;
    }
}
