@import '_colors';
@import '_wp-headers';
@import "../node_modules/bootstrap/scss/bootstrap";
@import "_footer";

body{
    font-family: 'Rubik', sans-serif;
    
    // Sticky footer
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    > main#content{
        flex: 1;
    }

    a{
        color: inherit;
    }
}

.bg-rectangle{
    border-radius: 8px;
    z-index: -1;
    &.bg-rectangle-1{
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 362px;
        max-height: 100vh;
        background-color: #f3f3f3;
        border-radius: 0 0 0 8px;
    }
}

.navbar{
    padding: 1.8rem 1rem;
    
    .navbar-toggler{
        width: 48px;
        height: 48px;
        border-radius: 24px;
        box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.15);
        background-color: map-get($theme-colors, 'primary');
        padding: 0;
        transition: all .3s;
        
        &:focus{
            outline: none;
        }
        
        &:hover{
            box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.15);
            transform: translateY(8px);
        }
        
        svg{
            width:24px;
            height:24px
        }
    }
    .navbar-brand{
        font-weight: bold;
        font-size: 30px;
        color: map-get($theme-colors, 'primary');
    }
    .navbar-collapse{
        font-size: 16px;
        
        ul{
            li{
                a:hover{
                    color: map-get($theme-colors, 'primary');
                }
                
                @include media-breakpoint-up('md'){
                    a{
                        margin: 0 25px;
                    }
                    &:last-child() a{
                        margin-right: 0;
                    }
                    &:first-child() a{
                        margin-left: 0;
                    }
                }

            }
        }
    }
}
