@import "_sizes";
@import "_colors";
@import "_mixins";
@import "_wp-headers";
@import "_wp-core";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "_header";
@import "_articles";
@import "_comments";
@import "_pagination";
@import "_footer";

body{
    font-family: 'Rubik', sans-serif;
    
    // Sticky footer
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    > main#content{
        flex: 1;
    }

    a{
        color: inherit;
        
        &:hover{
            color: inherit;
        }
    }
    
    // Used only in the theme titles, not in the articles.
    div.container > h1{
        position: relative;
        font-size: 24px;
        font-weight: 500;
        color: map-get($theme-colors, 'primary');;
        margin-bottom: 40px;
        text-transform: uppercase;
        
        &:after{
            content: "";
            position: absolute;
            background-color: map-get($theme-colors, 'primary');
            width: 60px;
            height: 5px;
            bottom: -10px;
            left: 0;
        }
        
        &.text-center:after{
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.bg-rectangle{
    border-radius: 8px;
    z-index: -1;
    &.bg-rectangle-1{
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 362px;
        max-height: 100vh;
        background-color: #f3f3f3;
        border-radius: 0 0 0 8px;
    }
}
